// buttons hover effect
@mixin linkAnim($color1, $color2) {
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
                  to right,
                  $color2,
                  $color2 50%,
                  $color1 50%);
  background-size: 245% 100%;
  background-position: 100%;
}

@mixin linkAnimShareBtns($color1, $color2) {
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-image: linear-gradient(
                  to right,
                  $color2,
                  $color2 50%,
                  $color1 50%);
  background-size: 245% 100%;
  background-position: 100%;
}

@mixin linkAnimHover() {
  transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}