.computer-slider {
  padding-top: 150px;

  .computer-slider-title-block{
    h2 {
      color: $fdp-blue;
      margin-top: 0;
      line-height: 56px;
      font-size: 48px;
    }

    p {
      &.subtitle {
        font-family: LinotypeUniversBold, sans-serif;
        font-size: 24px;
        line-height: 30px;
        width: 60%;
      }
    }

    a{
      margin-top: 20px;
    }
  }


  .features-and-website-page{
    padding: 60px 0 140px;
  }


  .features-and-website-text-r{
    .features-and-website-top {
      width: 38%;
      margin-left: 52%;
    }
  }

  .features-and-website-text-l{
    .features-and-website-top {
      width: 38%;
    }
  }

  h2{
    margin: 0 0 20px;
    transition: all 1s ease-in-out;
  }

  .features-and-website-desc{
    margin: 0 0 30px 0;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .features-and-website-slider-block{
    margin: 60px 0;
    position: relative;
    padding: 0 90px;
    box-sizing: border-box;

    .features-and-website-table-items{
      position: absolute;
      bottom: -80px;
      width: 29%;
      z-index: 14;
      background-color: $white;
      box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.1);
      border-radius: 2px;

      .features-and-website-table-items-mob{
        display: none;
      }

      .features-and-website-table-item{
        border-bottom: 1px solid #E0E0E0;
        opacity: 1;
        transition: all 1s ease-in-out;

        .features-and-website-table-title{
          padding: 20px 30px 0 30px;
          box-sizing: border-box;
          margin: 0;
          font-family: LinotypeUniversHeavy, sans-serif;
          font-size: 20px;
          color: $black;
          letter-spacing: 0;
          line-height: 26px;
        }
        .features-and-website-table-desc{
          margin: 0;
          padding: 10px 30px 20px 30px;
          box-sizing: border-box;
          font-family: LinotypeUniversRegular, sans-serif;
          font-size: 18px;
          color: $black;
          letter-spacing: 0;
          line-height: 24px;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

  .features-and-website-text-r{
    .features-and-website-table-items {
      left: 0;
    }
  }

  .features-and-website-text-l{
    .features-and-website-table-items {
      right: 0;
    }
  }






  .website-embeded{
    position: relative;
    display: flex;


    .website-embeded-content{
      width: 100%;
      box-sizing: border-box;
    }


    .website-embeded-frame-block{
      height: 580px;
      width: 100%;
      position: relative;
    }
    .website-embeded-frame-laptop{
      width: 100%;
      height: 580px;
      z-index: 12;
      position: relative;
    }

    .website-embeded-frame-content-wrapper{
      position: absolute;
      top: 38px;
      left: 13%;
      width: 75%;
      z-index: 10;
      height: 480px;

      .slick-track,
      .slick-list{
        height: 480px;
      }

      .slick-dots {
        bottom: -132px;
      }

      .slick-prev, .slick-next {
        top: 58%;
        z-index: 16;
        opacity: 0.8;

        &:hover{
          opacity: 1;
        }
      }

      .slick-prev,
      .slick-next {
        border-radius: 50%;
        background-color: transparent;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: center;
      }
      .slick-next {
        background-image: url(../assets/images/arrow_r.svg);
        right: -190px;
      }
      .slick-prev {
        background-image: url(../assets/images/arrow_l.svg);
        left: -200px;
      }
      .slick-prev:before,
      .slick-next:before {
        content: '';
      }
    }
    .slick-dots li {
      margin: 0;
    }

    .slick-dots li button:before {
      font-size: 13px;
    }

    .slick-dots {
      bottom: -54px;
    }


    .website-embeded-frame-content{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
    }

  }

  .website-embeded-frame-content-pagination{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    font-family: LinotypeUniversRegular, sans-serif;
    font-size: 14px;
    color: $black;
    letter-spacing: 0;
    line-height: 16px;
  }

  .website-embeded-frame-content-desk{
    display: block!important;
    width: 100%;
  }
  .website-embeded-frame-content-mob3,
  .website-embeded-frame-content-mob2,
  .website-embeded-frame-content-mob1{
    display: none!important;
    width: 100%;
  }
}

@media only screen and (max-width: 1330px) {

  .computer-slider {
    padding: 50px 0 60px;
  }
  .computer-slider h2 {
    margin: 0 0 12px;
  }
  .computer-slider .features-and-website-slider-block {
    margin: 40px 0 0;
    padding: 0;
  }

  .computer-slider .features-and-website-slider {
    display: flex;
    justify-content: center;
  }
  .computer-slider .website-embeded .website-embeded-frame-block {
    height: 500px;
  }
  .computer-slider  .website-embeded .website-embeded-frame-laptop {
    height: 500px;
    width: 914px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper {
    top: 34px;
    height: 430px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-track,
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-list {
    height: 430px;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-next {
    right: -16%;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-prev {
    left: -16%;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-dots {
    bottom: -90px;

  }

  .computer-slider .website-embeded-frame-content-mob1{
    display: block!important;
  }
  .computer-slider .website-embeded-frame-content-desk,
  .computer-slider .website-embeded-frame-content-mob2,
  .computer-slider .website-embeded-frame-content-mob3{
    display: none!important;
  }

  .computer-slider .website-embeded-frame-content-pagination {
    margin-top: 28px;
  }

  .computer-slider.features-and-website-text-r .features-and-website-top {
    width: 100%;
    margin-left: 0%;
  }
  .computer-slider.features-and-website-text-l .features-and-website-top {
    width: 100%;
  }
  .computer-slider .features-and-website-desc{
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 20px 0;
  }

  .features-and-website-table-items.features-and-website-table-items-desk{
    display: none;
  }

  .computer-slider .features-and-website-slider-block .features-and-website-table-items.features-and-website-table-items-mob{
    display: block;
    margin-top: 86px;
  }
  .computer-slider .features-and-website-slider-block .features-and-website-table-items {
    position: relative;
    bottom: unset;
    left: unset;
    width: 100%;
    z-index: 14;
  }
  .computer-slider .features-and-website-slider-block .features-and-website-table-items .features-and-website-table-item .features-and-website-table-title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 1024px) {
  .computer-slider .computer-slider-title-block p.subtitle {
    width: 100%;
  }
  .computer-slider.features-and-website-page {
    padding: 40px 0 40px;
  }
  .computer-slider .computer-slider-title-block h2 {
    line-height: 32px;
    font-size: 34px;
  }
}
@media only screen and (max-width: 960px) {
  .computer-slider .website-embeded .website-embeded-frame-block {
    height: 300px;
  }
  .computer-slider .website-embeded .website-embeded-frame-laptop {
    height: 300px;
    width: 470px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper {
    top: 20px;
    height: 270px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-track,
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-list {
    height: 270px;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-dots {
    bottom: -64px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-next {
    right: -30%;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-prev {
    left: -30%;
  }

  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-prev,
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-next {
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
  }

  .computer-slider .website-embeded-frame-content-mob2{
    display: block!important;
  }
  .computer-slider .website-embeded-frame-content-desk,
  .computer-slider .website-embeded-frame-content-mob1,
  .computer-slider .website-embeded-frame-content-mob3{
    display: none!important;
  }
}

@media only screen and (max-width: 768px) {
  .computer-slider.features-and-website-page {
    padding: 60px 0 40px;
  }
}

@media only screen and (max-width: 500px) {
  .computer-slider .website-embeded .website-embeded-frame-block {
    height: 150px;
  }
  .computer-slider .website-embeded .website-embeded-frame-laptop {
    height: 150px;
    width: 260px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper {
    top: 10px;
    height: 130px;
  }
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-track,
  .computer-slider .website-embeded .website-embeded-frame-content-wrapper .slick-list {
    height: 130px;
  }

  .computer-slider .website-embeded-frame-content-mob3{
    display: block!important;
  }
  .computer-slider .website-embeded-frame-content-desk,
  .computer-slider .website-embeded-frame-content-mob1,
  .computer-slider .website-embeded-frame-content-mob2{
    display: none!important;
  }



}