.contact-form {
  padding: 120px 0;

  h2 {
    color: $fdp-blue;
    margin-top: 0;
    line-height: 56px;
    font-size: 48px;
  }

  p {
    &.subtitle {
      font-family: LinotypeUniversBold, sans-serif;
      font-size: 24px;
      line-height: 30px;
    }
  }

  form {
    width: 70%;
    background-color: $fdp-blue;
    padding: 5% 10% 12%;
    box-sizing: border-box;


    .radio-btns-container {
      input {
        width: auto;
      }

      label {
        margin-right: 10px;
      }
    }

    label {
      font-family: LinotypeUniversBold, sans-serif;
      color: $white;
      margin-top: 15px;
    }

    input,
    textarea {
      width: 100%;
      border: 0;
      padding: 10px;
    }

    .content-btn {
      border: 0;
      float: right;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contact-form h2 {
    line-height: 32px;
    font-size: 34px;
  }

  .contact-form form {
    width: 100%;
    background-color: #009EE3;
    padding: 5% 10% 16%;
  }
}