.contact-form {
  margin-top: 150px;

  h2 {
    color: $fdp-blue;
    margin-top: 0;
  }

  p {
    &.subtitle {
      font-family: LinotypeUniversBold, sans-serif;
      font-size: 24px;
    }
  }
}