.contact-form {
  margin: 150px 0;

  h2 {
    color: $fdp-blue;
    margin-top: 0;
  }

  p {
    &.subtitle {
      font-family: LinotypeUniversBold, sans-serif;
      font-size: 24px;
    }
  }

  form {
    width: 70%;
    background-color: $fdp-blue;
    padding: 5% 10% 12%;

    @media screen and (max-width: 475px) {
     width: 100%;
    }

    .radio-btns-container {
      input {
        width: auto;
      }

      label {
        margin-right: 10px;
      }
    }

    label {
      font-family: LinotypeUniversBold, sans-serif;
      color: $white;
      margin-top: 15px;
    }

    input,
    textarea {
      width: 100%;
      border: 0;
      padding: 10px;
    }

    .content-btn {
      border: 0;
      float: right;
      margin-top: 20px;
    }
  }
}