//footer


footer {
  color: $black;

  .padd-me-footer {
    padding: 20px;
  }

  p {
    font-family: LinotypeUniversBold, sans-serif;

    &.captcha-help-text {
      font-size: 70%;
      position: relative;
      bottom: 13px;
    }
  }

  .letter-icon {
    width: 60px;
    position: absolute;
    right: 20px;
    top: 0;
  }

  .hand-shake-icon {
    width: 70px;
    position: absolute;
    right: 80px;
    top: 0;
  }

  .newsletter-submit {
    input, label {
      font-family: LinotypeUniversRegular, sans-serif;
    }
  }

  //@include sectionThemed;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: $light-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  .contact {
    position: relative;
    padding-top: 15px;
    min-height: 320px;
  }

  .newsletter-footer-box {
    position: relative;
  }

  h4 {
    color: $black;
  }

  a:hover {
    color: $black !important;
  }

  /*a {
    color: $black;
  }*/

  a.email {
    i.fa {
      color: $black !important;
      padding-right: 10px;
    }
  }

  a.fa {
    color: $black;
    opacity: 0.5;
    border: 2px solid $black;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 2px;

    &:hover {
      opacity: 1;
    }

  }

  .social-box {
    height: 100%;
    display: block;
    vertical-align: middle;
  }

  h4 {
    font-family: LinotypeUniversHeavy, sans-serif;
    font-size: 24px;
    margin-bottom: 33px;
  }

  h4.social-title {
    font-family: LinotypeUniversBold, sans-serif;
    font-size: 48px;
    margin-bottom: inherit;
    color: $fdp-light-blue;
    transform: rotate(-3.5deg);
    text-align: center;
    margin-top: 25%;
  }

  ul.social-icons {
    list-style: none;
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 0;
    transform: rotate(-3.5deg);
    text-align: center;
    width: 100%;

    & > li {
      display: inline-block;
      padding-right: 8px;
    }
  }

  input[type=submit] {
    float: right;
    display: inline-block;
    font-family: LinotypeUniversHeavy, sans-serif;
    color: #FFFFFF;
    background-color: #009EE3;
    font-size: 24px;
    padding: 10px 16px 6px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #009EE3;

    @include linkAnimShareBtns(#009EE3, $white);

    &:hover{
      text-decoration: none;
      color: #009EE3!important;
      @include linkAnimHover();
      background-color: $white!important;
    }
  }

  .disclaimer {
    position: absolute;
    bottom: 15px;
  }

  .agb {
    padding-bottom: 30px;
    a {
      font-family: Arial;
      font-size: 14px;
      color: $fdp-light-blue !important;
    }
  }

  border-top: 2px solid $gray-100;

  .container {
    padding-top: 20px;
  }

  .mob-view {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;

      .newsletter-footer-box {

        padding: 60px 50px;
      }

      .letter-icon {
        width: 60px;
        position: absolute;
        right: 50px;
        top: 60px;
      }

      .hand-shake-icon {
        width: 70px;
        position: absolute;
        right: 70px;
        top: 70px;
      }

      .contact {
        padding: 80px;
        width: 50%;
        float: left;
      }

      .social {
        width: 50%;
        float: right;
      }

      h4.social-title {
        font-size: 25px !important;
      }

      .social-icons {
        img {
          height: 30px;
        }
      }

      .social-box {
        padding-top: 110px;
      }

      .disclaimer {
        position: relative;
        padding-left: 60px;
      }

    }

    @media screen and (max-width: 580px) {
      .newsletter-footer-box {

        padding: 60px 20px;
      }

      .letter-icon {
        width: 60px;
        position: absolute;
        right: 20px;
        top: 60px;
      }

      .hand-shake-icon {
        width: 70px;
        position: absolute;
        right: 30px;
        top: 25px;
      }

      .contact {
        padding: 40px;
        width: 50%;
        float: left;
      }

      .social {
        width: 50%;
        float: right;
      }

      h4.social-title {
        font-size: 25px !important;
      }

      .social-icons {
        img {
          height: 30px;
        }
      }

      .social-box {
        padding-top: 110px;
      }

      .disclaimer {
        padding-left: 20px;
      }

    }
  }

  .desk-view {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }



}

.copyright {

  .container-footer {
    span {
      color: $fdp-light-blue !important;
    }
    a {
      color: $fdp-light-blue !important;
    }
    font-family: LinotypeUniversRegular, sans-serif;
    font-size: 16px;
    color: $fdp-light-blue !important;
  }
}
