.full-width-banner {
  background-color: #F4F4F4;
  position: relative;
  overflow: hidden;
  padding-top: 66px;
  padding-bottom: 100px;
  margin-top: 150px;

  h3 {
    font-family: LinotypeUniversRegular !important;
    font-size: 42px !important;
    color: #131413;
    line-height: 42px !important;
  }

  p {
    &.subtitle {
      font-family: LinotypeUniversBold, sans-serif;
      font-size: 24px;
    }
  }
}