.header-banner {
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  position: relative;


  .cta-btn {
    position: absolute;
    top: 55%;
    font-size: 3.429rem;

    .mob-cta-btn {
      display: none;

      @media (max-width: 580px) {
        display: block;
        width: 120px;
        margin-top: 40px;
      }
    }
  }
}

.politician-name,
.banner-text {
  font-family: LinotypeUniversBold, sans-serif;
  position: absolute;
  left: -24px;
  background-color: #009EE3;
  display: block;
  -ms-transform: rotate(-3.5deg);
  -webkit-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
  -ms-transform-origin: 0%;
  -webkit-transform-origin: 0%;
  transform-origin: 0%;
  bottom: -2px;

  h1 {
    color: #FFFFFF;
    display: block;
    font-size: 5.071rem;
    margin: 0;
    line-height: 1;
    padding: 15px 15px 0 45px;
  }
}

.cheat-me-border {
  position: relative;
  -ms-transform: rotate(-3.5deg);
  -webkit-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
  background-color: white;
  width: 105%;
  -ms-transform-origin: 0%;
  -webkit-transform-origin: 0%;
  transform-origin: 0%;
  left: -5px;

  .claim {
    position: relative;
    display: block;
    max-width: 60%;
    width: 100%;

    &.light-blue {
      .inner {
        position: relative;
      }
    }

    h2 {
      background-color: #81D0F5;
      font-family: LinotypeUniversBold, sans-serif;
      font-size: 5.571rem;
      line-height: 7.1rem;
      display: inline-block;
      padding: 10px 0 0 0;
      padding-left: 38px;
      padding-right: 20px;
      margin-top: 0;
    }
  }
}

