.no-scroll {
  overflow: hidden;
}

.main-container{
  max-width: 1120px;
  margin: 0 auto;
  width: 90%;
  position: relative;
}
.main-header-navigation{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 100%;
  height: 90px;
  overflow: unset;
  transition: padding 0.2s ease-in-out;


  .header-navigation-with-bg-border{
    display: none;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 15;
    height: 8px;
  }

  &.header-navigation-with-bg{
    background-color: #fff;

    .header-navigation-with-bg-border{
      display: block;
    }

    ul li a{
      color: #000;
    }
  }
}

.header-navigation-fixed{
  top: -200px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 17;
  transition: top 0.2s ease-in-out;



  .header-navigation-with-bg-border{
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 15;
    height: 8px;
  }
}

.header-navigation-fixed-nav-up {
  top: 0;

  &.header-navigation-with-bg{
    background-color: #fff;

    ul li a{
      color: #000;
    }

  }
}


.header-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;

  .header-navigation-logo{
    font-family: LinotypeUniversBold, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    letter-spacing: 0;
    outline: none;
    padding-top: 54px;

    span{
      color: #000;
    }
  }


  .header-navigation-r{

    > div{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 54px;
    }
  }

  .social-media-nav-desk {
    a {
      .circle {
        display: inline-block;
        border-radius: 50%;
        border: 1px solid $black;
        margin-right: 8px;
        position: relative;
        width: 39px;
        height: 39px;
        transition: all 0.3s ease-in-out;
      }

      .fi {
        position: absolute;
        top: 5px;
        right: 6px;
        color: $black;
        transition: all 0.3s ease-in-out;
      }

      &:hover{

        .fi {
          color: #009FDA;
        }
      }
    }
  }

  ul{
    list-style: none;
    display: flex;
    position: relative;
    margin: 0;

    li{
      margin: 0 10px 0 10px;
      position: relative;

      a{
        font-family: LinotypeUniversBold, sans-serif;
        font-size: 20px;
        color: #000;
        letter-spacing: 0;
        line-height: 30px;
        padding: 10px 0;
        text-transform: uppercase;
        text-decoration: none;

        &.active{
          color: #009FDA;
        }
      }

      a:hover{
        color: #009FDA;
        text-decoration: none;
      }



    }
    li:last-child{
      margin: 0 0 0 25px;
    }
  }
}

header{
  position: relative;
}


.header-navigation-burger{
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: -35px;
}

.main-header-navigation-mob-overlay{
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: block;
  z-index: 20;

  > div{
    > div {
      position: absolute;
      top: 8%;
      left: 0;
      width: 100%;
    }
  }

  .social-media-nav-desk {
    text-align: center;
    margin-top: 40px;

    a {
      font-size: 0;

      .circle {
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #009EE3;
        margin-right: 8px;
        position: relative;
        width: 39px;
        height: 39px;
        transition: all 0.3s ease-in-out;
      }

      .fi {
        position: absolute;
        top: 5px;
        right: 6px;
        color: #009EE3;
        transition: all 0.3s ease-in-out;
      }

    }
  }

  ul{
    list-style: none;
    padding-left: 0;

    li {
      text-align: center;
      border-bottom: 1px solid $black;
      padding: 14px 0 4px;

      a {
        color: $black;
        font-family: LinotypeUniversBold, sans-serif;
        font-size: 24px;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover{
          text-decoration: none;
        }

        &.active{
          color: #009EE3;
        }
      }
    }
  }

  .main-header-navigation-mob-overlay-close-btn{
    color: $white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    right: 4%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) {
  .header-navigation-burger{
    display: block;
  }
  .header-navigation .header-navigation-r > div,
  .header-navigation ul{
    display: none;
  }
  .header-navigation-fixed .header-navigation {
    margin-top: 0px;
  }
  .header-navigation .header-navigation-logo {
    font-size: 26px;
    line-height: 26px;
    padding-top: 0;

    img{
      width: 230px;
      height: auto;
    }
  }
  .header-navigation {
    padding: 22px 0;
  }
}