.view {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  /*transform: rotate(-3.5deg);*/

  @media (max-width: 580px) {
    display: none;
  }
}

.view:hover .s1, .view .s1.start{
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  transition-delay: 200ms;

  -webkit-transform: rotate3d(0,1,0,-10deg);
  -moz-transform: rotate3d(0,1,0,-10deg);
  -o-transform: rotate3d(0,1,0,-10deg);
  -ms-transform: rotate3d(0,1,0,-10deg);
  transform: rotate3d(0,1,0,-10deg);
}

.view:hover .s2, .view .s2.start{
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  transition-delay: 150ms;

  -webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
  -moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
  -o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
  -ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
  transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
}

.view:hover .s3, .view .s3.start{
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  transition-delay: 100ms;

  -webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
  -moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
  -o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
  -ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
  transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
}

.view:hover .s4, .view .s4.start{
  -webkit-transition-delay: 50ms;
  -moz-transition-delay: 50ms;
  -o-transition-delay: 50ms;
  -ms-transition-delay: 50ms;
  transition-delay: 50ms;

  -webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
  -moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
  -o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
  -ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
  transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
}

.view:hover .s5, .view .s5.start{
  -webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
}

.view:hover .s6, .view .s6 .start{
  -webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-52deg);
  -moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-52deg);
  -o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-52deg);
  -ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-52deg);
  transform: translate3d(60px,0,0) rotate3d(0,1,0,-52deg);
}

.view:hover .s7, .view .s7 .start{
  -webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
}

.view:hover .s8, .view .s8 .start{
  -webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  -ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
  transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
}

.view .s4 > .overlay {
  background: -moz-linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view .s5 > .overlay {
  background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view .s6 > .overlay {
  background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view .s7 > .overlay {
  background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view .s8 > .overlay {
  background: -moz-linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view div.view-back{
  background: #0a0a0a;
  background: -moz-linear-gradient(left, #0a0a0a 0%, #666666 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#666666));
  background: -webkit-linear-gradient(left, #0a0a0a 0%,#666666 100%);
  background: -o-linear-gradient(left, #0a0a0a 0%,#666666 100%);
  background: -ms-linear-gradient(left, #0a0a0a 0%,#666666 100%);
  background: linear-gradient(left, #0a0a0a 0%,#666666 100%);
}

.view {
  /*width: 316px;*/
  /*width: 305px;*/
  width: 105px;
  /*height: 200px;*/
  height: 140px;
  float: left;
  position: relative;
  perspective: 500px;
}

.view .slice{
  width: 62px;
  height: 100%;
  z-index: 100;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 150ms ease-in-out;
}

.view div.view-back{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  /*background: #666;*/
  z-index: 0;
}

.view-back span {
  display: block;
  float: right;
  padding: 5px 20px 5px;
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: rgba(255,255,255,0.6);
}

.view-back span:first-child {
  padding-top: 20px;
}

.view-back a {
  display: block;
  font-size: 18px;
  color: rgba(255,255,255,0.4);
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
}

.view-back a:hover {
  color: #fff;
  border-color: #fff;
}

.view-back span[data-icon]:before {
  content: attr(data-icon);
  font-family: 'icons';
  color: #aaa;
  color: rgba(255,255,255,0.2);
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
  padding-right: 5px;
}

.view .s2,
.view .s3,
.view .s4,
.view .s5,
.view .s6,
.view .s7,
.view .s8 {
  transform: translateX(60px);
  background-size: cover;
}

.view .s1 {
  background-position: -8px 1px;
  background-size: cover;
}
.view .s2 {
  background-position: -60px 0px;
}
.view .s3 {
  background-position: -120px 0px;
}
.view .s4 {
  background-position: -180px 0px;
}
.view .s5 {
  background-position: -240px 0px;
  background-repeat: no-repeat;
}
.view .s6 {
  background-position: -300px 0px;
}
.view .s7 {
  background-position: -360px 0px;
}
.view .s8 {
  background-position: -420px 0px;
}

.view .overlay {
  width: 60px;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 150ms ease-in-out;
}

.view:hover .overlay {
  opacity: 1;
}

.view {
  img {
    width: 305px;
  }
}

.view img {
  position: absolute;
  width: 305px;
  z-index: 0;
  transition: left 0.3s ease-in-out;
}

.view:hover img {
  left: -85px;
}

.view div.view-back {
  background: #666;
}